{% extends "body.twig" %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}

    <style rel="stylesheet">
        input{
            margin: 10px;
        }
    </style>

{% endblock %}

{% block body %}

    <form method="post" action="/auth/verifInscription" id="form">
        <label>Pseudo
            <input type="text" id="pseudo" name="pseudo" placeholder="Michel123" {% if pseudo is defined %} value="{{ pseudo }}" {% endif %}>
        </label><br>
        <label>Prénom
            <input type="text" id="prenom" name="prenom" placeholder="Michel" {% if prenom is defined %} value="{{ pseudo }}" {% endif %}>
        </label><br>
        <label>Nom
            <input type="text"  id="nom" name="nom" placeholder="Dupont" {% if nom is defined %} value="{{ nom }}" {% endif %}>
        </label><br>
        <label>Adresse mail (elle servira pour l'authentification)
            <input type="text" id="email" name="mail" placeholder="xyz@exemple.com" {% if mail is defined %} value="{{ mail }}" {% endif %}>
        </label><br>
        <label>
            Date de naissance
            <input type="date" id="ddn" name="ddn" {% if ddn is defined %} value="{{ ddn }}" {% endif %}>
        </label><br>
        <label>
            Mot de passe
            <input type="password" id="password" name="password">
        </label><br>
        <span id="password_verif"></span><br>
        <label>
            Mot de passe (vérification)
            <input type="password" id="password2" name="password2">
        </label>
        <input type="submit" value="valider">
    </form>

    {%  if erreur == 1 %}

        <div style="color: red">
            Une erreur est intervenue, veuillez réessayer.
        </div>
    {% endif %}
    {% if erreur == 2 %}

        <div style="color: red">
            Adresse mail déjà liée à un autre compte.
        </div>

    {%  endif %}

    {% if missed is defined %}

        <div style="color: red">
            Vérifiez que tous les champs soient remplis comme il faut.
        </div>

    {% endif %}
{% endblock %}

{% block javascripts %}

    <script src="/dist/inscription.js"></script>

{% endblock %}