{% extends "body.twig" %}

{% block title %}
    Profil
{% endblock %}

{% block body %}
    <button class="retour" id="retour" type="button">< Retour</button>
    <h1>{{ user.Pseudo }}</h1>
    <p>Niveau {{ user.Niveau }}
    <p>Argent : {{ user.Argent }} €
    <div class="succes">
        <h1>Succès</h1>
        <p>{{ user.Succes }}
    </div>
    <div class="statistiques">
        <h1>Statistiques</h1>
        <label class="hidden" id="nbParties">{{ user.NbPartiesJouees }}</label>
        <canvas id="winrateChart"></canvas>
        <label class="hidden" id="nbVictoires">{{ user.NbPartiesGagnees }}</label>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/dist/profil.js" type="text/javascript"></script>
{% endblock %}