{% extends "body.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
  <style>
    body {
      margin: 0;
    }
    canvas {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .debug {
      display: none;
      font-family: 'Roboto', sans-serif;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 6px 15px;
      z-index: 500;
    }
  </style>
  <div id="play">
  <div class="debug">
    <p>getPosition : <span class="getPosition"></span></p>
    <p>getDrawnPosition : <span class="getDrawnPosition"></span></p>
  </div>
  <canvas id="mainCanvas" width="100%" height="100%"></canvas>
  </div>

  <div class="container" id="anim_day" hidden="hidden">
    <div class="sky">
      <div class="information">Le jour se lève</div>
    </div>
    <div class="sea">
      <div class="light"></div>
    </div>

    <div class="sunrise"></div>
  </div>

  <div class="container" id="anim_night" hidden="hidden">
    <div class="sky">
      <div class="information">La nuit tombe</div>
    </div>
    <div class="sea">
      <div class="light"></div>
    </div>

    <div class="sunset"></div>
  </div>


  <div id="vote" hidden="hidden">
    <ul id="players"></ul>
    <div id="chat">
      <div id="form"><button id="sendMessage">Envoyer</button><label><input id="input" type="text" placeholder="Envoyer un message" autocomplete="off"></label></div>
      <ul id="messages"></ul>
    </div>
  </div>

  <!-- end game popup -->

  <div id="endGame" hidden="hidden">
    <div id="endGameContainer">
      <h1 id="endGameTitle"></h1>
      <div id="history"></div>
      <a href="/"><button id="endGameButton">Retourner à l'accueil</button></a>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script>
    var _LG = {% if LoupsGarous is defined %} {{ LoupsGarous }} {% else %} null {% endif %};
    var _partie = {{ partie | dump }};
    var _user = {{ currentUser | dump }};
    var _map = {% if map %}{{ map | dump }}{% else %}null{% endif %};
    var _role = {% if role is defined %}{{ role }}{% else %} null {% endif %};
    var _numeroJoueur = {% if numeroJoueur is defined %} {{ numeroJoueur }} {% else %}null{% endif %};
    const _players = {{ players | dump }};
    const _game = _partie;
    const _debug = {{ isDebug }};
  </script>
  <script src="/dist/game.js"></script>
{% endblock %}