{% extends "body.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
  <style>
    body {
      margin: 0;
    }
    canvas {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
    }

    .debug {
      font-family: 'Roboto', sans-serif;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.6);
      padding: 6px 15px;
      z-index: 500;
    }
  </style>
  <div class="debug">
    <p>getPosition : <span class="getPosition"></span></p>
    <p>getDrawnPosition : <span class="getDrawnPosition"></span></p>
  </div>
  <canvas id="mainCanvas" width="100%" height="100%"></canvas>
{% endblock %}

{% block javascripts %}
  <script>
    var _LG = {% if LoupsGarous is defined %} {{ LoupsGarous }} {% else %} null {% endif %};
    var _partie = {{ partie | dump }};
    var _user = {{ currentUser | dump }};
    var _map = {% if map %}{{ map | dump }}{% else %}null{% endif %};
    var _role = {% if role is defined %}{{ role }}{% else %} null {% endif %};
    var _numeroJoueur = {% if numeroJoueur is defined %} {{ numeroJoueur }} {% else %}null{% endif %};
  </script>
  <script src="/dist/game.js"></script>
{% endblock %}